body{
    background: linear-gradient(#0b0c48 , #00bdbd);
    background-size:cover;
    background-attachment:fixed;
    padding:0;
    margin:0;
}
.version_info{
    font-size: 2.5vh;
    background:white;
}
.controls_menu_button{
    display:inline-block;
    background:black;
    color:white;
    width:10vh;
    height:10vh;
    border-radius:100%;
    overflow:hidden;


}

.controls_menu_button p{
    position:relative;
    top:50%;
    margin: -10px 0px 0 4px;
    font-size: 2.4vh;

}
.controls_menu{
    background:white;
    width:50%;
    position:absolute;
    border-radius:3vh;
    overflow-x:hidden;
    z-index:9999998;
}

.controls_menu div{
    background: #848282;
    margin:5%;
    overflow:hidden;
    width:90%;
    height:10vh;
    border-radius:15vh;
}

.upload-form{
    position:absolute;
    display:none;
    z-index:9999999;
}

.upload-button{
    display:inline-block;
    background: black;
    overflow: hidden;
    color: white;
}

.upload-button .title{
    margin: 5.5vh 2.5vh 0;
}

.upload-form{
    background:white;
    width: 40vh;
    height: 20vh;
    border-radius:5vh;
    position:absolute;
    z-index:10000;
}

.back-button{
    display:inline-block;
    width:10vh;
    height:10vh;
    border-radius:15vh;
    background: black;
    overflow: hidden;
}

.back-button .arrow{
    margin:5%;
    width:90%;
    height:90%;
    background: url("../icons/arrow.png");
    background-size: cover;
}
.back-button .home{
    margin:5%;
    width:90%;
    height:90%;
    background: url("../icons/home.png");
    background-size: cover;
}
.url-mon{
    display:block;
    background:grey;
    width:90%;
    border-radius:3vh;
    padding:1.5vh;
    margin:0 auto;
    font-size:3vh;
    color:white;
    border: solid grey;
}
.url-mon:focus{
    outline:none;
}

.files_m{
    overflow-y: auto;
    height: 67vh;
    position: relative;
    margin: 3vh 0 0 0;
}
.folder{
    width: 75%;
    max-height: 15vh;
    background: black;
    margin: 2vh auto 0 3vh;
    border-radius: 3vh;
    overflow: hidden;

}

.file_name{
    color: white;
    margin: 1.5vh;
    font-size: 3vh;
    width: 60%;
    display: inline-block;
/*     background:green; */
}
.delete_button{
    width: 8vh;
    height: 8vh;
    display: inline-block;
    border-radius: 100%;
    display: grid;
    place-items: center;
}

.delete_button > p{
    font-size: 1.8vh;
}
.media{
    border: solid black 2vh;
    border-radius:2vh;
    background:black;
    max-width:80%;
    max-height:100px;
}
.media_view{
    position:sticky;
    top:0;
    width:100%;
    height:100vh;
    background: #09090970;
    z-index:100000;
    display:none;

}
