<html>
    <head>
        <meta charset='UTF-8'>
    </head>
    <body>
        <h1>
        [error 404]<br>the requested path {{ myurl }}<br>does not exist or not accessable
        </h1>
        <a href="/">Back To The Main Folder</a>
        <style>
            h1{
                text-align:center;
                background:black;
                color:white;
                width:fit-content;
                font-size: 5vh;
            }
            a{
                display:block;
                text-align:center;
                background:black;
                color:white;
                width:fit-content;
                font-size: 5vh;

            }
        </style>
    </body>
</html>
